<div class="card text-center ">

    <div class="card-header bg-danger text-white">
      Contactez Nous
    </div>
    
    <div class="card-body">
        <h5 class="card-text"><i class="fa-solid fa-phone" style="color: #ff0000;"></i> Téléphone</h5>
      <p >+216 71 325 572</p> <hr style="color: #ff0000;">
    <h5 class="card-text"><i class="fa-solid fa-fax" style="color: #ff0000;"></i>  Fax</h5>
      <p >+216 71 320 251</p><hr style="color: #ff0000;">
     <h5 class="card-text"> <i class="fa-solid fa-location-crosshairs" style="color: #ff0000;"></i> Addresse</h5>
      <p >19, Rue d'Angleterre,1000 Tunis</p><hr style="color: #ff0000;">
      <h5 class="card-text"><i class="fa-regular fa-envelope" style="color: #ff0000;"></i> Email</h5>
      <p >contact@croissant-rouge.tn
    </p>


    </div>
    

    <div class="card-footer bg-danger text-white">

      <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a> 
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-daicoraier"></i></a>
      © 2020 croissant rouge tunisien. All rights reserved
    </div>
  </div>
  