
        <div class="container">
          <app-menupersonne></app-menupersonne>
          <div class="mt-2">
            <table class="table">
              <thead class="table-warning">
                <tr>
                  <th>Photo</th>
                  <th>ID</th>
                  <th>Libelle</th>
                  <th>Nb Personnes</th>
                  <th>type</th>
                  <th>Comite</th>
                  <th>Date</th>
                  <th>Lieu</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of lesevent$ | async; index as i">
                  <td><img [src]="v.photo" [alt]="v.photo" /></td>
                  <td>{{ v.id }}</td>
                  <td>{{ v.libelle | uppercase }}</td>
                  <td>{{ v.nbP }}</td>
                  <td><input type="checkbox" [checked]="v.type" />Individuelle</td>
                  <td>{{ v.comite }}</td>
                  <td>{{ v.date }}</td>
                 
                  <td>
                    <ul>
                      <li *ngFor="let a of v.lieu">
                        {{ a }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <button class="btn btn-danger mb-3" (click)="affiche(i)">
                      Afficher la description
                    </button>
                    <div *ngIf="isDescriptionShown(i)">
                      <p>{{ v.description | nesrineanes }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        