<app-menu></app-menu>
  <form class="container my-5 p-4 border border-danger rounded" [formGroup]="loginForm" (ngSubmit)="authentifier()">
    <div class="form-group mb-3">
      <label for="username" class="form-label">Nom d'utilisateur <span class="text-danger"></span></label>
      <input type="email" class="form-control" id="username"  placeholder="Introduisez votre nom d'utilisateur (directeur ou admin)" formControlName="username" required>
    </div>
    <div *ngIf="Username?.invalid && Username?.dirty" class="alert alert-danger">
      Le nom d'utilisateur est un champ obligatoire
  </div>
    <div class="form-group mb-3">
      <label for="password" class="form-label">Mot De Passe<span class="text-danger"> </span></label>
      <input type="password" class="form-control is-invalid" id="password"  placeholder="Introduisez votre mot de passe (pwdDirecteur ou pwdAdmin)" formControlName="pwd" >
    </div>
    <div *ngIf="Pwd?.invalid && Pwd?.dirty" class="alert alert-danger">
      Le mot de passe est un champ obligatoire
  </div>
    <button class="btn btn-danger" [disabled]="loginForm.invalid">
      <i class="fa-solid fa-unlock"></i> <span id="button-text">  Log in</span>
    </button><br>
    <a id="active" routerLink="/changepassword">Changer le mot de passe</a>
    <div style="color: red;">
      {{message}}
  </div>
  </form>
  
