<app-menu></app-menu>
<div class="container my-4">
  <h1 class="text-danger">Association à but non lucratif</h1>
  <p>
    <span class="text-danger fw-bold">Le Croissant Rouge Tunisien</span>
    est une organisation d’intérêt public, créée le 7 octobre 1956, et reconnue par
    décret du 6 mai 1957 comme organisation bénévole d’aide et de secours
    auxiliaire des pouvoirs publics dans le domaine humanitaire, conformément aux
    Conventions de Genève de 1949 et ses protocoles additionnels.
  </p>
  <hr>
  <div class="clearfix">
    <div>COMITÉS RÉGIONAUX</div>
    <div class="numberpull-right">21</div>
  </div>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 80%"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <br>
  <div class="clearfix">
    <div>COMITÉS LOCAUX</div>
    <div class="numberpull-right">244</div>
  </div>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 70%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <br>
  <div class="clearfix">
    <div>VOLONTAIRES ACTIFS</div>
    <div class="numberpull-right">2500</div>
  </div>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 80%"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <hr>
  <h1 class="redd"> Principes et valeurs</h1>
  <p>
    Elle est basée sur sept principes :</p>
  <ol>
    <li>l'humanité</li>
    <li>l'impartialité</li>
    <li>la neutralité </li>
    <li>l'indépendance</li>
    <li>le volontariat</li>
    <li>l'unité</li>
    <li>l'universalité</li>
  </ol>
</div>