<div class="container my-5 p-4 border border-danger rounded">
    <h2>Changer le mot de passe</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group mb-3">
        <label for="oldPassword" class="form-label">Ancien mot de passe</label>
        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" required>
      </div>
  
      <div class="form-group mb-3">
        <label for="newPassword" class="form-label">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
      </div>
  
      <button type="submit" class="btn btn-danger" [disabled]="changePasswordForm.invalid">
        Changer le mot de passe
      </button>
      <button type="button" class="btn btn-primary" (click)="goToLogin()">
        Retourner
      </button>
  
      <div style="color: red;">
        {{ message }}
      </div>
    </form>
  </div>
  