
<div class="container mt-4">
    <div class="card p-4 bg-light">
      <h3 class="card-title mb-4">Ajout d'une Activité</h3>
      <form [formGroup]="actForm" (ngSubmit)="onSubmitForm()" class="bg-white p-4">
        <div class="mb-3">
          <label class="form-label">Identifiant</label>
          <input type="number" class="form-control" name="id" formControlName="id">
        </div>
        <div *ngIf="idAct?.invalid && idAct?.dirty" class="alert alert-danger">
          l'identifiant doit etre un nombre
      </div>
        <div class="mb-3">
          <label class="form-label">Libellé</label>
          <input type="text" class="form-control" name="lib" formControlName="libelle">
        </div>
        <div *ngIf="isValidPattern()" class="alert alert-danger">
          le libellé doit contenir au minimum 20 caractéres  </div>
          <div *ngIf="isValidrequired()" class="alert alert-warning">
          le libellé est obligatoire        </div>
        <div class="mb-3">
          <label class="form-label">Nombre De Volontaires</label>
          <input type="number" class="form-control" name="nbP" formControlName="nbP">
        </div>
        <div *ngIf="isValidnbP()" class="alert alert-danger">
          le Nombre De Volontaires est obligatoire   </div>
          <div *ngIf="isValidminnbP()" class="alert alert-warning">
              le Nombre De Volontaires doit avoir 10 volontaires minimum  </div>
        <div class="mb-3">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="type" formControlName="type"> Individuelle
          </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Comité</label>
            <select name="comitee" formControlName="comite" class="form-select">
              <option *ngFor="let c of lescomite" [value]="c">{{ c }}</option>
            </select>
          </div>
        <div class="mb-3">
          <label class="form-label">Date</label>
          <input type="date" class="form-control" name="date" formControlName="date">
        </div>
        <h5>Lieu</h5>
        <div formArrayName="lieu">
          <div *ngFor="let l of leslieu.controls; index as i" class="mb-3">
            <label class="form-label">Lieu n° {{i+1}}</label>
            <input type="text" class="form-control" [formControlName]="i">
            
          </div>
          <input type="button" value="Ajouter un lieu " class="btn btn-secondary btn-sm mb-3" (click)="onAjouter()">
        </div>
        <button  class="btn btn-primary me-2"  [disabled]="actForm.invalid"><i class="fa-solid fa-plus">  </i>Ajouter</button>
        <button  class="btn btn-secondary" (click)="onResetForm()"><i class="fa-solid fa-eraser"></i>  Effacer</button>
      </form>
  </div>

<div class="container mt-4">
<div class="card p-4 bg-light">
  <h4>Recherche d'activité par comité.</h4>
  <div>
    <select class="form-select" name="searchComite" [(ngModel)]="searchComite" placeholder="Enter Comite">
        <option *ngFor="let comite of lescomite" [value]="comite">{{ comite }}</option>
      </select>
    <button class="btn btn-primary" (click)="searchByComite()"><i class="fa-solid fa-magnifying-glass"></i>  Search</button>
    <button *ngIf="foundEvents.length > 0" class="btn btn-secondary" (click)="hideFoundEvents()">Hide</button>
  </div>

  <h4>Suppression d'une Activité d'aprés id</h4>
  <div >
    <input type="number" class="form-control" name="deleteId" [(ngModel)]="deleteId" placeholder="Enter Event ID">
    <button class="btn btn-danger" (click)="deleteActivity(deleteId)"><i class="fa-solid fa-trash"></i>  Delete</button>
  </div>
  <h4>Modification d'une activité par ID</h4>
  <div>
    <input type="number" class="form-control" name="modifyId" [(ngModel)]="modifyId" placeholder="Enter Event ID">
    <button class="btn btn-warning" (click)="modifyActivity()"><i class="fa-solid fa-edit"></i>Modify</button>
  </div>
  
  <div *ngIf="showModifyForm">
    <h4>Modification d'une activité</h4>
    <form [formGroup]="modifyForm" (ngSubmit)="onSaveChanges()">
      <div class="mb-3">
        <label class="form-label">Date</label>
        <input type="date" class="form-control" name="date" formControlName="date">
      </div>
      <h5>Lieu</h5>
      <div formArrayName="lieu">
        <div *ngFor="let l of leslieu.controls; index as i" class="mb-3">
          <label class="form-label">Lieu n° {{i+1}}</label>
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <input type="button" value="Ajouter un lieu " class="btn btn-secondary btn-sm mb-3" (click)="onAjouter()">
      </div>
      <button type="submit" class="btn btn-success"><i class="fa-solid fa-save"></i> Save Changes</button>
      <button type="button" class="btn btn-secondary" (click)="cancelModification()">Cancel</button>
    </form>
  </div>
  
</div>
</div>

<div *ngIf="foundEvents.length > 0" class="found-events">
  <h4>Les activités trouvées pour Comité "{{ searchComite }}"</h4>
  <div *ngFor="let event of foundEvents">
    <p><i class="fa-solid fa-lightbulb"></i>ID: {{ event.id }}</p>
    <p class="card-title">Libellé: {{ event.libelle }}</p>
    <p><i class="fa-solid fa-calendar"></i>Date: {{ event.date }}</p>
    <br>
  </div>
</div>

  <div *ngIf="lesact" class="container mt-4">
    <h4>Les Activités</h4>
    <div class="row">
      <div class="col-md-6" *ngFor="let event of lesact">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ event.libelle |uppercase}}</h5>
            <p><i class="fa-solid fa-lightbulb"></i>  ID: {{ event.id }}</p>
            <p ><i class="fa-solid fa-user-check"></i>  Nombre de Participants: {{ event.nbP }}</p>
            <p ><i class="fa-solid fa-calendar"></i>   Date: {{ event.date | date }}</p>
            <p ><i class="fa-solid fa-house" ></i>   Comité: {{ event.comite }}</p>
            <p ><i class="fa-solid fa-check-to-slot"></i>   Type: {{ event.type ? 'Individuelle' : 'Non Individuelle' }}</p>
            <p ><i class="fa-solid fa-thumbtack"></i>  Lieux:</p>
            <ul class="list-group">
              <ng-container *ngIf="event.lieu && event.lieu.length > 0; else noLieu">
                <li class="list-group-item" *ngFor="let lieu of event.lieu">{{ lieu }}</li>
              </ng-container>
              <ng-template #noLieu>
                <li class="list-group-item">Lieu non spécifié pour le moment</li>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-danger mt-4 text-center" (click)="onLogout()">
    <span id="button-text">Log out</span>
  </button>
  
  

  